.services {
  background-color: #fff;
  padding: 20px;
}

.services h3 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.services h5 {
  color: #65b61b;
  margin-bottom: 30px;
}

.services .titleservice {
  color: #65b61b;
}

.services .grey {
  margin-top: 15px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 20px 20px 20px 0px;
  background-color: rgb(245, 245, 245);
}

.services .dv-star-rating{
  float:left;
  display:inline !important;
  margin-right:10px;
}

.services .starhideshow{
  margin-top:20px;
}

.services .star{
  float:left;
  margin-right:10px;

}


.services .hide{
  color:#65b61b;
}

.services .show{
  color:#000;
}