.services {
  background-color: #fff;
  padding: 20px;
}

.services h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.services h5 {
  color: #65b61b;
  margin-bottom: 30px;
  margin-top:30px;
}

.services .titleservice {
  color: #65b61b;
}

.services .grey {
  margin-top: 25px;
  margin-bottom:25px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 20px 20px 40px 0px;
  background-color: rgb(245, 245, 245);
}

.services .grey span{
  color:black;
  margin-left:10px;
}

.services .grey strong{
  color:black;
}

.services .dv-star-rating{
  float:left;
  display:inline !important;
  margin-right:10px;
}

.services .starrate{
  color:grey;
  margin-right:10px;
}

.services .star{
  width:100%;
  float:left;
  margin-right:10px;
  margin-left:0px;
  margin-top:20px;
  border-bottom: 1px solid rgb(230,230,230);
  padding-bottom:20px;

}


.services .hide{
  color:#65b61b;
}

.services .show{
  color:#000;
}