.qualifications{
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 15px;
}

.qualifications h5 {
  color: #65b61b;
  margin-bottom: 15px;
}

.qualifications .title {
  color: grey;
}

.qualifications .rows {
    margin-top:10px;
    margin-bottom:10px;
}
