.languages {
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 15px;
  
}

.languages h5 {
  color: #65b61b;
  margin-bottom:40px;
}

.languages .level{
  margin:auto;
}

.languages .lines{
  width:100%;
}

.languages .lines .empty{
  border:3px solid rgb(248, 203, 119);
  border-radius: 25px;
  margin:2px;
  width:40px;
  float:left;

}

.languages .lines .filled{
  border-top:5px solid rgb(238, 158, 9);
  border-radius: 25px;
  margin:2px;
  width:40px;
  float:left;
}

.languages .languageName{
  margin-top:20px;
}